.contactme-background {
  background: url("../../Assets/COE4.jpg"),
    linear-gradient(45deg, var(--color2), var(--color5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}

.contactme-content {
  --background: none;
}

.contactme-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: var(--color7-transparent);
}

.contactme-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactme-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.link {
  color: white;
}
