.background {
  background: url("../Assets/COE1.jpg"),
    linear-gradient(45deg, var(--color4), var(--color5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}

.aboutme-content {
  --background: none;
}

.aboutme-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutme-row {
  margin: 2em;
}

.aboutme-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-col {
  margin: 2em;
}

.center-col {
  display: flex;
  justify-content: center;
}

.navbar-container {
  height: 10%;
}

ion-button {
  --background: white;
}

ion-icon {
  color: white;
}

a {
  color: black;
  text-decoration: none;
}
