ion-text {
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Nanum Gothic Coding", monospace;
}

.home-content {
  --ion-background-color: var(--color1);
}

.home-grid {
  height: 100%;
}

.me-pic {
  height: 40%;
}

.grid2-row {
  display: flex;
  justify-content: center;
  height: 25%;
  margin: 0;
  padding: 0;
}

.grid2-col {
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid2-col:hover {
  /* text-shadow: 1px 1px 2px rgb(228, 228, 228), 0 0 0.5em rgb(202, 202, 202),
    0 0 0.2em rgb(129, 129, 129); */
  font-size: 1.05em;
  border-top: 5px solid rgba(37, 37, 37, 0.366);
  border-bottom: 5px solid rgba(37, 37, 37, 0.366);
}

.header-row {
  margin-top: 1vh;
}

.color1-row {
  color: var(--color3);
}

.grid1-row {
  height: 100%;
}

.home-col {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 0;
}

.subtitle1-text {
  color: rgb(217, 217, 217);
}

.heading1 {
  color: white;
  font-size: 50px;
  font-weight: lighter;
}

.header-text1 {
  color: white;
  font-size: 2em;
  font-weight: bolder;
}

.header-text2 {
  color: white;
  font-size: 2em;
  font-weight: bolder;
}

.content-text1 {
  color: white;
  font-size: 1.5em;
}

.content-text2 {
  color: white;
  font-size: 1.5em;
}

.content-text1-dark {
  color: black;
  font-size: 1.5em;
}

.content-text2-dark {
  color: black;
  font-size: 1.2em;
}

ion-col {
  padding: 0;
  margin: 0;
}

ion-row {
  padding-bottom: 0;
  margin: 0;
}

.home-grid {
  padding: 0;
  margin: 0;
  height: 100vh;
}

.pink-border {
  border: 1px dashed pink;
}

.home-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0em;
  /* padding-top: 2.5em;
  padding-bottom: 2.5em; */
  border-radius: 0;
  border: none;
  width: 100vw;
  height: 100%;
  box-shadow: none !important;
  opacity: 0;
  transition: 1500ms;
}

.home-card.show {
  opacity: 1;
}

.router-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  width: 100%;
}

.router-link:hover {
  cursor: pointer;
}

.home-card.pic1 {
  background: url("../Assets/COE1.jpg"),
    linear-gradient(45deg, var(--color4), var(--color5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}

.home-card.pic2 {
  background: url("../Assets/COE2.jpg"),
    linear-gradient(45deg, var(--color4), var(--color5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}

.home-card.pic3 {
  background: url("../Assets/COE3.jfif"),
    linear-gradient(45deg, var(--color4), var(--color5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}

.home-card.pic4 {
  background: url("../Assets/COE4.jpg"),
    linear-gradient(45deg, var(--color4), var(--color5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}

.home-card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* height: 40px; */
  display: block;
  background: linear-gradient(
      -45deg,
      transparent 33.33%,
      var(--color1) 33.33%,
      var(--color1) 66.666%,
      transparent 66.66%
    ),
    linear-gradient(
      45deg,
      transparent 33.33%,
      var(--color1) 33.33%,
      var(--color1) 66.666%,
      transparent 66.66%
    );
  background-size: 20px 60px;
}

.home-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 40px; */
  display: block;
  background: linear-gradient(
      -45deg,
      transparent 33.33%,
      var(--color1) 33.33%,
      var(--color1) 66.666%,
      transparent 66.66%
    ),
    linear-gradient(
      45deg,
      transparent 33.33%,
      var(--color1) 33.33%,
      var(--color1) 66.666%,
      transparent 66.66%
    );
  background-size: 20px 60px;
  transform: rotate(180deg);
}

.scroll-button {
  --background: transparent;
  --background-hover: #dedede6e;
  --border: none;
  --box-shadow: none;
  --color: white;
}
