.projects-background {
  background: url("../Assets/COE2.jpg"),
    linear-gradient(45deg, var(--color4), var(--color5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}

.projects-content {
  --background: none;
}

.projects-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.projects-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px;
  margin-top: 0;
  background-color: var(--color1-transparent);
}
