body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --color1: #272727;
  --color2: #747474;
  --color3: #d21f3c;
  --color4: #782a4f;
  --color5: #1d3461;
  --color6: #1f487e;
  --color7: #247ba0;
  --color8: #f3d9dc;
  --color9: #f5fbef;
}
