.aboutme-background {
  background: url("../../Assets/COE1.jpg"),
    linear-gradient(45deg, var(--color2), var(--color5));
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
}

.aboutme-content {
  --background: none;
}

.aboutme-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.aboutme-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: var(--color7-transparent);
}

.aboutme-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-col {
  margin: 2em;
}

.center-col {
  display: flex;
  justify-content: center;
}

.navbar-container {
  height: 10%;
}

ion-button {
  --background: white;
}

ion-icon {
  color: white;
}

a {
  color: black;
  text-decoration: none;
}
